/* Estilos básicos */
body {
  background-color: #f5f5f5; /* Color de fondo */
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #e62117; /* Rojo principal de Pokémon */
  color: white;
  text-align: center;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pokedex {
  background-color: #ffffff; /* Blanco para la caja del Pokédex */
  border: 5px solid #f37021; /* Naranja para el borde del Pokédex */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.footer {
  background-color: #303030; /* Gris oscuro para el pie de página */
  color: white;
  text-align: center;
  padding: 15px 0;
}
